---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h4>WELCOME, WELCOME, WELCOME!</h4>
      <p>
        This is my Resume Website(for now),mayyybe I will add something new in
        the future(Who knows)
      </p>
      <p>
        So PLS check my
        <a
          href="/works"
          class="inline-flex text-blue-500 hover:underline hover:text-blue-700"
          >Portfolio</a
        >
        or <a
          href="/works"
          class="inline-flex text-blue-500 hover:underline hover:text-blue-700"
          >About</a
        > Page
      </p>
      <p>By the way, this website is designed by Astro(Who asked!)</p>
    </main>
    <Footer />
  </body>
</html>
