---
const today = new Date();
import { FaBilibili } from 'react-icons/fa6';
import { AiFillGithub } from 'react-icons/ai';
---

<footer>
	&copy; {today.getFullYear()} ShallowAria. All rights reserved.
	<div class="social-links">
		<a href="https://github.com/shallowaria" target="_blank" aria-label="Go to Aria's Github repo" class="transition duration-300 hover:scale-125">
				<AiFillGithub size={40} color='currentColor' client:load />
			</a>
			
			<a href="https://space.bilibili.com/7213886" target="_blank" aria-label="Go to Aria's Bilibili space" class="transition duration-300 hover:scale-125">
				<FaBilibili size={40} color='currentColor' client:load/>
			</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
