---
import { AiFillGithub } from 'react-icons/ai';
import HeaderLink from './HeaderLink.astro';
import { FaBilibili } from 'react-icons/fa6';
// import Image from 'astro/components/Image.astro';
import { Image } from 'astro:assets';
import kirby from "../assets/kirby_swim.jpg"
---

<header>
	<nav>
		<a href="/" class="flex items-center gap-4">
			<Image src={kirby} alt="Kirby" class="w-12 h-10 rounded-full object-fill"/>
			<span class="text-lg font-medium">ShallowAria</span>
			<!-- {SITE_TITLE} -->
		</a>
		<div class="internal-links">
			<HeaderLink href="/">主页</HeaderLink>
			<HeaderLink href="/works">作品集</HeaderLink>
			<HeaderLink href="/about">关于</HeaderLink>
		</div>
		<div class="social-links flex justify-center items-center space-x-2">
			<a href="https://github.com/shallowaria" target="_blank" aria-label="Go to Aria's Github repo" class="transition duration-300 hover:scale-125">
				<AiFillGithub size={40} color='currentColor' client:load />
			</a>
			
			<a href="https://space.bilibili.com/7213886" target="_blank" aria-label="Go to Aria's Bilibili space" class="transition duration-300 hover:scale-125">
				<FaBilibili size={40} color='currentColor' client:load/>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.internal-links {
	flex: 1; 
	display: flex;
	justify-content: center; 
	gap: 10em; 
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: #4eefc0;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
